@charset "utf-8";
/* CSS Document */

/* ************************************************************************************************************************

WordPress Theme

File:			app.scss
Author:			Amapolazul
Homepage:		www.amapolazul.com
Copyright:		2018

************************************************************************************************************************ */

/* ---------- Variables ---------- */

$primary_color: #000;
$secondary_color: #000;
$background: #000;
$border: #cbcbcb;

$max_width: 1000px;

/* ---------- General ---------- */

@import url('https://fonts.googleapis.com/css?family=Roboto');

@font-face {
	font-family: 'Learning Curve Pro Regular';
	src: url(fonts/LearningCurve_OT.otf);
}

* {
	margin: 0;
	padding: 0;
}

body {
	font: {
		family: 'Roboto', sans-serif;
		size: 14px;
	}
	color: $primary_color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Roboto', sans-serif;
}

a {
	color: $secondary_color;
	&:hover {
		color: $secondary_color;
	}
}

.row {
	max-width: $max_width;
}

/* ---------- Template ---------- */

/* Top */

.top {
	.moduletable_to1 {
		padding: 10px 0;
		border-bottom: 1px solid $secondary_color;
		#a {
			a {
				padding: 0 10px;
				border-right: 1px solid $secondary_color;
				display: inline-block;
				&:last-child {
					border: none;
				}
			}
		}
		#b {
			text-align: center;
			img {
				width: 240px;
			}
		}
		#c {
			text-align: right;
			a {
				padding: 0 10px;
				border-right: 1px solid $secondary_color;
				display: inline-block;
				&:last-child {
					border: none;
				}
			}
		}
	}
	.moduletable_to2 {
		padding: 10px 0;
	}
}

/* Banner */

.banner {
	.moduletable_ba1 {
		iframe {
			border: 0;
		}
	}
}

/* Content */

.content {
	padding: 30px 0;
	h1 {
		font-size: 18px;
	}
	.asterisk {
		color: red;
	}
	a {
		&.button {
			background-color: $secondary_color;
			border-radius: 0;
		}
	}
	input {
		border-radius: 0;
	}
	textarea {
		border-radius: 0;
	}
	.button {
		background-color: $secondary_color;
		border-radius: 0;
	}
	iframe {
		border: 0;
	}
	.woocommerce {
		ul.products {
			li {
				margin-bottom: 15px;
				a {
					color: $primary_color;
					&:hover {
						color: $secondary_color;
					}
					img {
						margin: 0;
						padding: 10px;
						border: 1px solid $border;
					}
					h2 {
						padding: 15px !important;
						text: {
							align: center;
							transform: uppercase;
						}
					}
				}
			}
		}
		a,
		button {
			&.button {
				background-color: $secondary_color;
				border-radius: 0;
				color: #fff;
				&:hover {
					background-color: $secondary_color;
					color: #fff;
				}
			}
		}
	}
	&.full-width {
		padding: 0 0 30px 0;
		.max {
			max-width: $max_width;
			margin: auto;
		}
	}
}

/* Block 1 */

.block_1 {
	padding-bottom: 60px;
	.moduletable_b11 {
		.item {
			overflow: hidden;
			position: relative;
			img {
				width: 100%;
			}
			&:hover {
				.item-overlay {
					top: 0;
				}
			}
			.item-content {
				margin-top: -56px;
				padding: 5px 10px;
				background-color: rgba(0, 0, 0, 0.5);
				position: relative;
				z-index: 2;
				h4 {
					font-size: 14px;
					color: #fff;
					text: {
						align: center;
						transform: uppercase;
					}
				}
			}
			.item-overlay {
				width: 100%;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				background-color: rgba(0, 0, 0, 0.9);
				overflow: hidden;
				position: absolute;
				z-index: 3;
				-moz-transition: top 0.4s, right 0.4s, bottom 0.4s, left 0.4s;
				-webkit-transition: top 0.4s, right 0.4s, bottom 0.4s, left 0.4s;
				transition: top 0.4s, right 0.4s, bottom 0.4s, left 0.4s;
				top: 220px;
				h4 {
					padding: 20px 0;
					font-size: 14px;
					color: #fff;
					text: {
						align: center;
						transform: uppercase;
					}
				}
				p {
					padding: 0 0 20px 0;
					font-size: 14px;
					a {
						&.hollow.button {
							border: 1px solid #fff;
							border-radius: 0;
							color: #fff;
						}
					}
				}
			}
		}
	}
}

/* Block 2 */

.block_2 {
	padding-bottom: 60px;
	.moduletable_b21 {
		text-align: center;
		a {
			padding: 0 20px;
			border-right: 1px solid $secondary_color;
			display: inline-block;
			&:last-child {
				border: none;
			}
		}
	}
}

/* Bottom */

.bottom {
	padding: 20px 0;
	background-color: $background;
	.moduletable_bo1 {
		color: #fff;
		text-align: center;
		a {
			color: #fff;
		}
	}
}

/* Copyright */

.copyright {
	padding-bottom: 20px;
	background-color: $background;
	color: #fff;
	a {
		color: #fff;
	}
}

/* ---------- Media Queries ---------- */

/* Small only (639px) */

@media screen and (max-width: 39.9375em) {

	/* Top */

	.top {
		.moduletable_to1 {
			#a,
			#c {
				text-align: center;
			}
		}
	}

}

/* Medium and up (640px) */

@media screen and (min-width: 40em) {}

/* Medium only (640px and 1023px) */

@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up (1024px) */

@media screen and (min-width: 64em) {}

/* Large only (1024px and 1199px) */

@media screen and (min-width: 64em) and (max-width: 74.9375em) {}

/* ---------- Others ---------- */

.clear {
	clear: both;
}